*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#containerHeading{
    font-size: 3vw;
    color: white;
    font-family: "Ubuntu",sans-serif;
    font-weight: 700;
    font-style: normal;
    display: block;
    padding-left: 5%;
}
#mainContainer{
    width: 100%;
    height: 70vh;
    background-color: black;
}
#mainScrollDiv{
    width: 100%;
    height: 90%;
    overflow-x: scroll;
}
#mainScrollDiv::-webkit-scrollbar{
    display: none;
}
#scrollDiv{
    width: 300vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cardContainer{
    width: 20vw;
    height: 90%;
    background-color: white;
    border: 1px solid black;
    background-position: center;
    background-size: 120% 120%;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}
.cardContainer:hover{
    background-size: 100% 100%;
    transform: scale(1.1);
}
.card1{
    background-image: url(../../Assest/Image/tomjerry1.jpg);
}
.card2{
    background-image: url(../../Assest/Image/shinchan.png);
}
.card3{
    background-image: url(../../Assest/Image/dragontales.jpg);
}
.card4{
    background-image: url(../../Assest/Image/powerpuffgirls.png);
}
.card5{
    background-image: url(../../Assest/Image/rollno21.jpg);
}
.card6{
    background-image: url(../../Assest/Image/couragedog.jpg);
}
.card7{
    background-image: url(../../Assest/Image/doraeman.jpg);
}
.card8{
    background-image: url(../../Assest/Image/chhotabheem.jpg);
}
.card9{
    background-image: url(../../Assest/Image/scoobydoo.jpg);
}
.card10{
    background-image: url(../../Assest/Image/ganesha2-removebg-preview.png);
}
.number{
    font-size: 10vw;
    -webkit-text-stroke: 2px white;
    font-family: "Ubuntu",sans-serif;
    font-weight: 700;
    position: absolute;
    right: 89%;
    top: 50%;
}